name: Test
on:
    push:
        branches:
            -   master
            -   dev
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
        -   uses: actions/setup-python@v2
            with:
                python-version: '3.7'
                architecture: 'x64'
        -   name: Run test script
            run: |
                python setup.py install
                pip install -r requirements-dev.txt
                cd test
                python run_test.py

